body,html
{
    text-align:center;height:100%;-webkit-user-select:none
}
.pbutton
{
    padding:10px;color:#fff;border:0
}
#emergency
{
    background:#e74c3c
}
#emergency:hover
{
    background:red;text-shadow:2px
}
#rejection
{
    background:#27ae60
}
#rejection:hover
{
    background:#2ecc71
}
#depression
{
    background:#2980b9
}
#depression:hover
{
    background:#3498db
}
#relapsed{
    background:#8e44ad
}
#relapsed:hover
{
    background:#9b59b6
}